In [182]:
import json
import requests
import pandas as pd
import seaborn as sns
import json
import requests
import pandas as pd
import seaborn as sns
import pandas as pd
import chart_studio.plotly as py
import cufflinks as cf
from ipywidgets import interact
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import pandas as pd
import chart_studio.plotly as py
import cufflinks as cf
from ipywidgets import interact

cf.go_offline()

In [183]:
data3 = pd.read_csv('./transfer_data.csv')
data3.head(10)

,PLAYER,WINDOW,POSITION,COUNTRY,FROM,TO,DESCRIPTION,PRICE,LEAGUE,SEASON
0,Paul Pogba,Pre-Season,Midfielder,France,Juventus,Manchester United,Sold,105000000.0,EPL,16/17
1,Gareth Bale,Pre-Season,Midfielder,Wales,Tottenham,Real Madrid,Sold,100000000.0,La Liga,13/14
2,Luis Suarez,Pre-Season,Attacker,Uruguay,Liverpool,Barcelona,Sold,95000000.0,La Liga,14/15
3,Ronaldo,Pre-Season,NaN,NaN,Manchester United,Real Madrid,Sold,93900000.0,La Liga,09/10
4,Gonzalo Higuain,Pre-Season,Attacker,Argentina,Napoli,Juventus,Sold,90000000.0,Serie A,16/17
5,James Rodriguez,Pre-Season,Midfielder,Colombia,Monaco,Real Madrid,Sold,80000000.0,La Liga,14/15
6,Kevin De Bruyne,Pre-Season,Midfielder,Belgium,Wolfsburg,Manchester City,Sold,76000000.0,EPL,15/16
7,Angel Di Maria,Pre-Season,Midfielder,Argentina,Real Madrid,Manchester United,Sold,75000000.0,EPL,14/15
8,Raheem Sterling,Pre-Season,Midfielder,England,Liverpool,Manchester City,Sold,69400000.0,EPL,15/16
9,Zlatan Ibrahimovic,Pre-Season,NaN,NaN,Inter Milan,Barcelona,Sold,69000000.0,La Liga,09/10

In [184]:
data1 = data3.drop('DESCRIPTION', axis=1)
data4 = data1.drop('WINDOW', axis=1)
data2 = data4[data1.SEASON != '15']
data = data2[data2.SEASON != '16']
data.head(10)

,PLAYER,POSITION,COUNTRY,FROM,TO,PRICE,LEAGUE,SEASON
0,Paul Pogba,Midfielder,France,Juventus,Manchester United,105000000.0,EPL,16/17
1,Gareth Bale,Midfielder,Wales,Tottenham,Real Madrid,100000000.0,La Liga,13/14
2,Luis Suarez,Attacker,Uruguay,Liverpool,Barcelona,95000000.0,La Liga,14/15
3,Ronaldo,NaN,NaN,Manchester United,Real Madrid,93900000.0,La Liga,09/10
4,Gonzalo Higuain,Attacker,Argentina,Napoli,Juventus,90000000.0,Serie A,16/17
5,James Rodriguez,Midfielder,Colombia,Monaco,Real Madrid,80000000.0,La Liga,14/15
6,Kevin De Bruyne,Midfielder,Belgium,Wolfsburg,Manchester City,76000000.0,EPL,15/16
7,Angel Di Maria,Midfielder,Argentina,Real Madrid,Manchester United,75000000.0,EPL,14/15
8,Raheem Sterling,Midfielder,England,Liverpool,Manchester City,69400000.0,EPL,15/16
9,Zlatan Ibrahimovic,NaN,NaN,Inter Milan,Barcelona,69000000.0,La Liga,09/10

In [185]:
wiki = pd.read_csv('./wiki.csv')
wiki.head(10)

   Placement                   TO      Revenue SEASON
0          1    Manchester United  689000000.0  16/17
1          2            Barcelona  620200000.0  16/17
2          3          Real Madrid  620100000.0  16/17
3          4        Bayern Munich  592000000.0  16/17
4          5      Manchester City  524900000.0  16/17
5          6  Paris Saint‑Germain  520900000.0  16/17
6          7              Arsenal  468500000.0  16/17
7          8              Chelsea  447400000.0  16/17
8          9            Liverpool  403800000.0  16/17
9         10             Juventus  341100000.0  16/17

In [186]:
rating = pd.read_csv('./rating.csv')

rating.fillna = 0

In [210]:
#rat = rating.groupby(rating.TO)["Res_Rating"].mean()

rat = rating.groupby(by="TO").mean().sort_values(by = "Res_Rating", ascending=False)
rat1 = rat.drop('Rating', axis=1).reset_index()
rat1.columns = ["FROM", "Rating"]
rat1
#rat1[rat1.FROM == "FC Monaco"]

                     FROM     Rating
0            FC Barcelona  99.000000
1                 Chelsea  97.200000
2          Bayern München  96.500000
3             Real Madrid  95.400000
4       Manchester United  93.900000
5                 Arsenal  93.800000
6                FC Porto  88.700000
7                 Benfica  88.600000
8                AC Milan  85.900000
9          Olympique Lyon  85.900000
10               Valencia  85.800000
11         Internazionale  84.600000
12                Sevilla  84.500000
13              Liverpool  82.300000
14             Schalke 04  81.500000
15       Shakhtar Donetsk  81.400000
16        Atlético Madrid  81.300000
17   Zenit St. Petersburg  79.700000
18               Juventus  78.600000
19             Villarreal  77.900000
20      Tottenham Hotspur  76.600000
21          PSV Eindhoven  75.600000
22            CSKA Moscow  73.100000
23     Sporting CP Lisbon  71.300000
24       Bayer Leverkusen  71.200000
25    Paris Saint-Germain  70.900000
26           Hamburger SV  69.714286
27          Werder Bremen  69.625000
28                   Ajax  69.600000
29                AS Roma  69.200000
..                    ...        ...
128             FK Rostov  14.000000
129         RC Strasbourg  14.000000
130     AS Nancy Lorraine  13.600000
131        Slovan Liberec  12.000000
132       Birmingham City  12.000000
133           Lech Poznan  11.333333
134               Perugia  11.000000
135           FC Augsburg  11.000000
136         Portsmouth FC  10.600000
137          Swansea City  10.500000
138        Southampton FC   9.000000
139           Millwall FC   9.000000
140     Aris Thessaloniki   8.500000
141      Maccabi Tel-Aviv   8.000000
142            NK Maribor   7.666667
143     Partizan Belgrade   7.500000
144         1.FC Nürnberg   7.500000
145             FC Zürich   7.000000
146           SC Freiburg   5.750000
147               Livorno   5.250000
148         Stade Rennais   5.000000
149         Maccabi Haifa   4.500000
150        Wigan Athletic   3.333333
151           Toulouse FC   3.000000
152      Alemannia Aachen   3.000000
153              Molde FK   2.500000
154     En Avant Guingamp   2.000000
155           Montpellier   2.000000
156      Maritimo Funchal   2.000000
157        Gençlerbirligi   1.000000

[158 rows x 2 columns]

In [203]:
data.groupby(data.SEASON)['PLAYER'].count()

SEASON
07/08    257
08/09    131
09/10    537
10/11    561
11/12    661
12/13    633
13/14    823
14/15    773
15/16    866
16/17    648
Name: PLAYER, dtype: int64

In [189]:
data.groupby(data.LEAGUE)['PLAYER'].count()

LEAGUE
Bundesliga     468
EPL           1338
La Liga       1138
ROE           1171
Serie A       1775
Name: PLAYER, dtype: int64

In [190]:
#data_from = data.groupby(data.FROM)['PRICE'].sum().sort_values(ascending=False)
#data_from.head(30)
data_from = data.groupby(by="FROM").sum().sort_values(by = "PRICE", ascending=False)
data_from1 = data_from.reset_index()
data_from1.columns = ['FROM', 'Sell']
data_from1.head(3)

        FROM         Sell
0      Porto  503100000.0
1  Liverpool  490900000.0
2    Benfica  439000000.0

In [191]:
data_to = data.groupby(by="TO").sum().sort_values(by = "PRICE", ascending=False)
data_to1 = data_to.reset_index()
data_to1.columns = ['FROM', 'Buy']
data_to1.head(3)

              FROM           Buy
0  Manchester City  1.067575e+09
1      Real Madrid  1.005800e+09
2        Barcelona  8.769000e+08

In [192]:
res = pd.merge(data_from1, data_to1, how='left', on=['FROM'])
res1 = res.head(30)
res1.head(5)

          FROM         Sell           Buy
0        Porto  503100000.0  1.543000e+08
1    Liverpool  490900000.0  6.356300e+08
2      Benfica  439000000.0  1.044000e+08
3  Real Madrid  424400000.0  1.005800e+09
4     Valencia  421250000.0  2.732000e+08

In [193]:
res1.iplot(kind='bar', x='FROM', xTitle='Club', color=['green', 'blue'], yTitle='Price', title='Total sell and buy')

In [194]:
res1['Strategy'] = 1
res1.Strategy.loc[(res1.Sell < res1.Buy)] = 2
a = res1[res1.Strategy == 1]
b = res1[res1.Strategy == 2]
b

                 FROM         Sell           Buy  Strategy
1           Liverpool  490900000.0  6.356300e+08         2
3         Real Madrid  424400000.0  1.005800e+09         2
5     Atletico Madrid  368700000.0  5.554000e+08         2
6             Chelsea  353600000.0  7.986500e+08         2
8                Roma  337800000.0  4.351500e+08         2
9           Tottenham  331450000.0  4.136000e+08         2
10           Juventus  319100000.0  6.583000e+08         2
11          Barcelona  280600000.0  8.769000e+08         2
12             Monaco  272200000.0  2.944500e+08         2
13        Inter Milan  270200000.0  3.895000e+08         2
14  Manchester United  264150000.0  7.387500e+08         2
17             Napoli  238250000.0  2.827000e+08         2
18           AC Milan  238100000.0  2.724000e+08         2
19            Arsenal  231200000.0  4.088000e+08         2
21    Manchester City  218000000.0  1.067575e+09         2
23          Newcastle  203100000.0  2.111000e+08         2
26          Wolfsburg  190800000.0  2.417000e+08         2
27      Bor. Dortmund  189050000.0  2.668000e+08         2
28      Bayern Munich  187000000.0  4.100000e+08         2

In [212]:
res2 = pd.merge(res1, rat1, how='left', on=['FROM'])
res2.Rating[0] = 88.7
res2.Rating[0] = 1
res2.Rating[0] = 1
res2.Rating[0] = 1
res2.Rating[0] = 1
res2.Rating[0] = 1
res2

                 FROM         Sell           Buy  Strategy     Rating
0               Porto  503100000.0  1.543000e+08         1   1.000000
1           Liverpool  490900000.0  6.356300e+08         2  82.300000
2             Benfica  439000000.0  1.044000e+08         1  88.600000
3         Real Madrid  424400000.0  1.005800e+09         2  95.400000
4            Valencia  421250000.0  2.732000e+08         1  85.800000
5     Atletico Madrid  368700000.0  5.554000e+08         2        NaN
6             Chelsea  353600000.0  7.986500e+08         2  97.200000
7             Sevilla  348250000.0  1.979000e+08         1  84.500000
8                Roma  337800000.0  4.351500e+08         2        NaN
9           Tottenham  331450000.0  4.136000e+08         2        NaN
10           Juventus  319100000.0  6.583000e+08         2  78.600000
11          Barcelona  280600000.0  8.769000e+08         2        NaN
12             Monaco  272200000.0  2.944500e+08         2        NaN
13        Inter Milan  270200000.0  3.895000e+08         2        NaN
14  Manchester United  264150000.0  7.387500e+08         2  93.900000
15        Southampton  242900000.0  2.238500e+08         1        NaN
16               Ajax  238450000.0  1.750000e+07         1  69.600000
17             Napoli  238250000.0  2.827000e+08         2  60.857143
18           AC Milan  238100000.0  2.724000e+08         2  85.900000
19            Arsenal  231200000.0  4.088000e+08         2  93.800000
20              Lille  219900000.0  3.200000e+07         1        NaN
21    Manchester City  218000000.0  1.067575e+09         2  64.400000
22               Lyon  208000000.0  1.277000e+08         1        NaN
23          Newcastle  203100000.0  2.111000e+08         2        NaN
24         Villarreal  200600000.0  1.327500e+08         1  77.900000
25            Udinese  198250000.0  4.845000e+07         1  37.666667
26          Wolfsburg  190800000.0  2.417000e+08         2        NaN
27      Bor. Dortmund  189050000.0  2.668000e+08         2        NaN
28      Bayern Munich  187000000.0  4.100000e+08         2        NaN
29         Fiorentina  182000000.0  1.667000e+08         1  63.100000

In [196]:
data.groupby(data.POSITION)['PLAYER'].count()

POSITION
Attacker      1295
Defender      1376
Goalkeeper     336
Midfielder    1756
Name: PLAYER, dtype: int64

In [197]:
data_teams = data.groupby(data.TO)['PLAYER'].count().sort_values(ascending=False)
data_teams[:30]

TO
Roma               116
Genoa              110
Fiorentina         107
Juventus           101
Sampdoria           99
AC Milan            99
Sunderland          89
Palermo             85
Udinese             84
Parma               82
Sevilla             81
Malaga              81
Inter Milan         79
West Ham            79
Atletico Madrid     76
Napoli              75
Torino              70
Valencia            69
Chievo              68
Liverpool           66
Atalanta            64
Lazio               63
Manchester City     62
Granada             62
Bologna             61
Chelsea             59
Everton             54
Espanyol            54
Tottenham           54
Real Madrid         53
Name: PLAYER, dtype: int64

In [133]:
data.PRICE.sum()

17192435000.0

In [134]:
data.groupby(data.COUNTRY)['PLAYER'].count().sort_values(ascending=False).head()

COUNTRY
Italy      523
Spain      509
France     395
England    337
Brazil     314
Name: PLAYER, dtype: int64